header {
    margin-bottom: 5%;
    opacity: 0.9;
}
main {
    margin-bottom: 10%;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
    padding: 1%;
    text-align: center;
    -webkit-margin-top-collapse: 5%;
    opacity: 0.9;
}

#fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width: 100%;
    height: 100%;
}


@media (min-aspect-ratio: 16/9) {
    #fullscreen-bg {
      width: 100%;
      height: auto;
    }
  }

  @media (max-aspect-ratio: 16/9) {
    #fullscreen-bg {
      width: auto;
      height: 100%;
    }
  }


@media (min-aspect-ratio: 16/9) {
    #fullscreen-bg {
      height: 300%;
      top: -100%;
    }

  }
  
  @media (max-aspect-ratio: 16/9) {
    #fullscreen-bg {
      width: 300%;
      left: -100%;
    }
  }

  html,body {
    height: 100%;
 }
 .carousel, .item, .active {
    height: 80%;
  }
 .carousel-inner {
     height: 80%;
 }
.card {
    opacity: 0.9;
}

#card-img {
    /* border-radius: 50%; */
    width: 80%;
    height: auto;
    margin: 10%;
}

#divider {
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

body.home li.home, body.aboutus li.aboutus, body.contact li.contact {
    -webkit-text-fill-color: white;
    font-weight: bold;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.bg-text-div {
    width: 100%;
    position: fixed;
    z-index: -1;
}
.bg-div {
    width: 100%;
    position: static;
    padding: 20%;
    z-index: 0;
    opacity: 0.0;
}

#carousel-card {
    z-index:  0;
}